flow.json
[{"id":"cfcf0bda.11d328","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"104d9e9f.ef7a21","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ad7646e2.e0b638","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"bddc844e.af6be8","type":"tab","label":"testing","disabled":true,"info":""},{"id":"e01f4235.6b09b","type":"tab","label":"dyndns","disabled":false,"info":""},{"id":"d4525a26.347788","type":"ui_tab","z":"cfcf0bda.11d328","name":"Test","icon":"dashboard"},{"id":"9c1a8cde.14a84","type":"ui_group","z":"cfcf0bda.11d328","name":"Test","tab":"d4525a26.347788","disp":true,"width":"6","collapse":true},{"id":"41b61283.3c66bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2206ee2a.fee262","type":"ui_group","z":"","name":"One","tab":"d4525a26.347788","order":null,"disp":true,"width":"6","collapse":true},{"id":"860be39e.2af1c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"connection","birthQos":"0","birthRetain":"true","birthPayload":"hello","willTopic":"connection","willQos":"0","willRetain":"true","willPayload":"goodbye"},{"id":"44298b35.8d7074","type":"ui_group","z":"","name":"Wall Switch","tab":"5daaeb30.d403d4","order":1,"disp":true,"width":"6","collapse":true},{"id":"5daaeb30.d403d4","type":"ui_tab","z":"","name":"Lights","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"21a4a119.b6940e","type":"ui_group","z":"","name":"Test","tab":"1a45b812.cb0118","disp":true,"width":"6","collapse":false},{"id":"1a45b812.cb0118","type":"ui_tab","z":"","name":"weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"635dd72d.91c0e8","type":"darksky-credentials","z":"","key_identifier":"DarkSky"},{"id":"a4f93edb.920e9","type":"ui_link","z":"","name":"camera","link":"http://192.168.86.68:8081","icon":"open_in_browser","target":"iframe","order":4},{"id":"9fafbc11.89003","type":"ui_group","z":"","name":"Group 2","tab":"1a45b812.cb0118","order":2,"disp":true,"width":"12","collapse":false},{"id":"de35c642.f3a828","type":"ui_tab","z":"","name":"MQTT","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c19dafe8.9c163","type":"ui_group","z":"","name":"Dashboard","tab":"de35c642.f3a828","order":1,"disp":true,"width":"18","collapse":false},{"id":"ac3d130c.55264","type":"ui_group","z":"","name":"DarkSky","tab":"ddc81e89.4aa4b","order":2,"disp":true,"width":"6","collapse":false},{"id":"3561774d.19c258","type":"ui_group","z":"","name":"OpenWeather Map","tab":"ddc81e89.4aa4b","order":1,"disp":true,"width":"6","collapse":true},{"id":"ddc81e89.4aa4b","type":"ui_tab","z":"","name":"Weather","icon":"wi-wu-sunny","order":1,"disabled":false,"hidden":false},{"id":"f01b1ec9.c35bf","type":"ui_group","z":"","name":"Environment Canada","tab":"ddc81e89.4aa4b","order":3,"disp":true,"width":"6","collapse":false},{"id":"35c42763.98b268","type":"zwave-controller","z":"ad7646e2.e0b638","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"logging":"minimal"},{"id":"386605b8.09767a","type":"ui_group","z":"","name":"Switch","tab":"5daaeb30.d403d4","disp":true,"width":"6","collapse":true},{"id":"d719f14a.bf8ba","type":"debug","z":"cfcf0bda.11d328","name":"weather","active":true,"console":"false","complete":"true","x":257,"y":32,"wires":[]},{"id":"30c7f925.108356","type":"inject","z":"cfcf0bda.11d328","name":"test inj","topic":"","payload":"nt_fog","payloadType":"str","repeat":"","crontab":"","once":true,"x":331,"y":252,"wires":[["5395d9e5.26d7a8","5b4cd184.aef6"]]},{"id":"76b14e89.69745","type":"openweathermap in","z":"cfcf0bda.11d328","name":"Home","wtype":"current","lon":"-75.93025","lat":"45.17084","city":"","country":"","language":"en","x":88,"y":116,"wires":[["d719f14a.bf8ba","c7a9f08f.433e6","55cfbbe5.700c94"]]},{"id":"5b4cd184.aef6","type":"ui_text","z":"cfcf0bda.11d328","group":"2206ee2a.fee262","order":0,"width":"4","height":"2","name":"Test-One-payload","label":"Current icon:","format":"{{msg.payload}}","layout":"row-center","x":518,"y":291,"wires":[]},{"id":"5395d9e5.26d7a8","type":"ui_template","z":"cfcf0bda.11d328","group":"2206ee2a.fee262","name":"Test-One-icon","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-wu-{{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":503,"y":252,"wires":[[]]},{"id":"a98e4543.335e88","type":"ui_template","z":"cfcf0bda.11d328","group":"9c1a8cde.14a84","name":"Test-Test-stylesheet","order":0,"width":"0","height":"0","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<style>\n    .nr-dashboard-theme-dark ui-card-panel {\n \tbackground-color: #222;\n \toutline: 1px solid #cccccc;\n \t  }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":431,"y":205,"wires":[[]]},{"id":"82d7e22d.be9a","type":"mqtt in","z":"104d9e9f.ef7a21","name":"everything","topic":"#","qos":"2","broker":"860be39e.2af1c","x":277,"y":150,"wires":[["c2a3ad51.6b52e"]]},{"id":"c2a3ad51.6b52e","type":"debug","z":"104d9e9f.ef7a21","name":"","active":true,"console":"false","complete":"true","x":501,"y":150,"wires":[]},{"id":"2fe544df.f2720c","type":"mosca in","z":"104d9e9f.ef7a21","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":344,"y":346,"wires":[["c2a3ad51.6b52e"]]},{"id":"45698ede.3d32","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":true,"complete":"true","x":193,"y":480,"wires":[]},{"id":"3058cb45.9fe614","type":"inject","z":"ad7646e2.e0b638","name":"","topic":"","payload":"{\"topic\":\"addNode\",\"payload\":{\"prependHomeId\":true}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":79,"y":112,"wires":[["cb681029.a7498"]]},{"id":"d2268652.5a1ac8","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":4}","payloadType":"json","topic":"switchOn","x":173,"y":767,"wires":[["8689aa2a.ad6878","475c7376.924e0c","594ed9e.88b3128"]]},{"id":"c8475454.aa8938","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":4}","payloadType":"json","topic":"switchOff","x":176,"y":588,"wires":[["8689aa2a.ad6878","c3ff2d1f.5f566"]]},{"id":"38073c45.95bf44","type":"ui_toast","z":"ad7646e2.e0b638","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":365,"y":417,"wires":[]},{"id":"79357313.7190dc","type":"ui_gauge","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":3,"width":0,"height":0,"gtype":"gage","title":"Status","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":290,"y":274,"wires":[]},{"id":"3e4ff5c6.4edd5a","type":"function","z":"ad7646e2.e0b638","name":"","func":"var msg2 = {\"payload\": 5};\nif (msg.payload.nodeid == 4) {\n    if (msg.payload.currState === true){\n        msg2.payload = 1;\n        msg.payload = true;\n    } else {\n        msg2.payload = 0;\n        msg.payload = false;\n    }\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":107,"y":273,"wires":[["f8c55397.7f155","f27b5101.fb806"],["8da8e0ef.f7773","79357313.7190dc"]],"inputLabels":["zwave"],"outputLabels":["bool","number"]},{"id":"c3ff2d1f.5f566","type":"mqtt out","z":"ad7646e2.e0b638","name":"OFF","topic":"switch","qos":"","retain":"","broker":"860be39e.2af1c","x":315,"y":543,"wires":[]},{"id":"475c7376.924e0c","type":"mqtt out","z":"ad7646e2.e0b638","name":"ON","topic":"switch","qos":"2","retain":"true","broker":"860be39e.2af1c","x":318,"y":880,"wires":[]},{"id":"136269e.3d17d96","type":"ui_template","z":"cfcf0bda.11d328","group":"9fafbc11.89003","name":"Weather - Group 2 - ICON","order":1,"width":"3","height":"3","format":"<div style=\"font-size: 2.5rem; display: flex;height: 100%;justify-content: center;align-items: center;\">\n    <i class=\"wi wi-darksky-clear-day\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":492,"y":110,"wires":[[]]},{"id":"c7a9f08f.433e6","type":"ui_template","z":"cfcf0bda.11d328","group":"9fafbc11.89003","name":"Weather-Group2-details","order":2,"width":"12","height":"5","format":"<div>\n    <p>Weather {{msg.payload.weather}} {{msg.payload.detail}}</p>\n    <p>Temp {{msg.payload.tempc}}</p>\n    <i class=\"wi wi-own-{{msg.payload.icon}}\"></i>\n    <p>Wind {{msg.payload.windspeed}} {{msg.payload.winddirections}}</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":212,"y":219,"wires":[[]]},{"id":"6a352a07.8e7e64","type":"inject","z":"ad7646e2.e0b638","name":"","topic":"disablePoll","payload":"{\"args\":[4,37,1,0]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":153,"y":33,"wires":[["43c4db3a.541ff4"]]},{"id":"c2155055.b6869","type":"openweathermap","z":"cfcf0bda.11d328","name":"Ottawa weather","wtype":"current","lon":"-75.93025","lat":"45.17084","city":"","country":"","language":"en","x":327,"y":385,"wires":[["6491d281.b0f18c","97f6d3cc.a8ed","d196c66a.79cd08"]]},{"id":"19f0900d.41b18","type":"darksky","z":"cfcf0bda.11d328","darksky":"635dd72d.91c0e8","name":"ottawa weather","lon":"-75.826900","lat":"45.327901","date":"","time":"","mode":"node","lang":"en","units":"ca","x":324,"y":583,"wires":[["b3edd2d0.98e0a","97f6d3cc.a8ed","7f874b1a.40e0a4","d196c66a.79cd08"]]},{"id":"c23b4833.fb8fe8","type":"inject","z":"cfcf0bda.11d328","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":134,"y":503,"wires":[["19f0900d.41b18","c2155055.b6869"]]},{"id":"b3edd2d0.98e0a","type":"ui_template","z":"cfcf0bda.11d328","group":"ac3d130c.55264","name":"Weather-DarkSky-detail","order":2,"width":"6","height":"5","format":"<div>\n  <h2>Weather</h2>\n  <ul>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":694,"y":583,"wires":[[]]},{"id":"97f6d3cc.a8ed","type":"debug","z":"cfcf0bda.11d328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":796,"y":474,"wires":[]},{"id":"6491d281.b0f18c","type":"ui_template","z":"cfcf0bda.11d328","group":"3561774d.19c258","name":"Weather-OpeWeatherMap-details","order":0,"width":"6","height":"6","format":"<div>\n    <h2>Weather</h2>\n  <ul>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Description: {{msg.payload.description}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Icon: {{msg.payload.icon}} </li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>  ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":744,"y":343,"wires":[[]]},{"id":"7f874b1a.40e0a4","type":"function","z":"cfcf0bda.11d328","name":"Parse icon","func":"msg.payload = (msg.payload.weather);\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":763,"wires":[["6c3cc3c.a3ec93c"]]},{"id":"6c3cc3c.a3ec93c","type":"ui_template","z":"cfcf0bda.11d328","group":"ac3d130c.55264","name":"Icon","order":0,"width":"3","height":"2","format":"\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<p>Icon</p><i class=\"fa-4x wi wi-darksky-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":601,"y":763,"wires":[[]]},{"id":"b1085b69.ac3568","type":"http in","z":"cfcf0bda.11d328","name":"","url":"/radar","method":"get","upload":false,"swaggerDoc":"","x":696,"y":134,"wires":[["c621e220.7c828"]]},{"id":"c621e220.7c828","type":"template","z":"cfcf0bda.11d328","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <script src='https://darksky.net/map-embed/@radar,2019-2-7,16,45.421,-75.690,7.js?embed=true&timeControl=false&fieldControl=false&defaultField=radar'></script>\n    </body>\n</html>","x":826,"y":134,"wires":[["83538c29.a4c3c"]]},{"id":"83538c29.a4c3c","type":"http response","z":"cfcf0bda.11d328","name":"","statusCode":"","headers":{},"x":966,"y":134,"wires":[]},{"id":"670c4d4c.f2f294","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-52&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1048,"y":215,"wires":[[]]},{"id":"eeab6771.4aef38","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada - Westport","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-66&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1065,"y":263,"wires":[[]]},{"id":"d6f99440.0b1de8","type":"zwave-in","z":"ad7646e2.e0b638","name":"","controller":"35c42763.98b268","x":55,"y":439,"wires":[["45698ede.3d32","3e4ff5c6.4edd5a","38073c45.95bf44","33126298.05f88e"]]},{"id":"8689aa2a.ad6878","type":"zwave-out","z":"ad7646e2.e0b638","name":"Toggle Switch","controller":"35c42763.98b268","x":661,"y":698,"wires":[[]]},{"id":"cb681029.a7498","type":"zwave-out","z":"ad7646e2.e0b638","name":"Poll","controller":"35c42763.98b268","x":370,"y":123,"wires":[[]]},{"id":"43c4db3a.541ff4","type":"zwave-out","z":"ad7646e2.e0b638","name":"","controller":"35c42763.98b268","x":440,"y":42,"wires":[[]]},{"id":"55cfbbe5.700c94","type":"mqtt out","z":"cfcf0bda.11d328","name":"","topic":"weather","qos":"","retain":"","broker":"860be39e.2af1c","x":268,"y":141,"wires":[]},{"id":"2429201b.2985f","type":"mqtt out","z":"cfcf0bda.11d328","name":"","topic":"weather","qos":"","retain":"","broker":"860be39e.2af1c","x":612,"y":479,"wires":[]},{"id":"6429b3c9.f7560c","type":"inject","z":"bddc844e.af6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":187,"wires":[[]]},{"id":"b066f37a.7012c","type":"debug","z":"bddc844e.af6be8","name":"rss feed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":267,"wires":[]},{"id":"eac874d2.d3adb8","type":"feedparse","z":"bddc844e.af6be8","name":"","url":"https://weather.gc.ca/rss/city/on-52_e.xml","interval":15,"x":540,"y":287,"wires":[["b066f37a.7012c"]]},{"id":"8ae13ef5.ba577","type":"http request","z":"e01f4235.6b09b","name":"ipify","method":"GET","ret":"obj","url":"https://api.ipify.org?format=json","tls":"","x":331,"y":628,"wires":[["4ab095d5.da6c9c","d0fed36b.5647c"]]},{"id":"1987070a.b6b399","type":"debug","z":"e01f4235.6b09b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1065,"y":596,"wires":[]},{"id":"3cec0e9a.c309c2","type":"inject","z":"e01f4235.6b09b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":581,"wires":[["8ae13ef5.ba577","fb19deb7.16f97"]]},{"id":"fb19deb7.16f97","type":"http request","z":"e01f4235.6b09b","name":"dns","method":"GET","ret":"obj","url":"https://dns-api.org/A/winterfell.nusak.ca","tls":"","x":314,"y":531,"wires":[["34cf0d2e.a02a22","22a7f66a.8b983a"]]},{"id":"4ab095d5.da6c9c","type":"change","z":"e01f4235.6b09b","name":"","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":769,"wires":[["ff9f837c.e550f","5e85c3cf.b69c0c"]]},{"id":"34cf0d2e.a02a22","type":"change","z":"e01f4235.6b09b","name":"","rules":[{"t":"set","p":"dns","pt":"flow","to":"payload.0.value","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.0.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518,"y":366,"wires":[["ff9f837c.e550f","32077d6e.1fad72"]]},{"id":"ff9f837c.e550f","type":"function","z":"e01f4235.6b09b","name":"","func":"var ip = flow.get(\"ip\") || 0;\nvar dns = flow.get(\"dns\") || 0;\nif (ip === 0 || dns === 0) {\n    msg.payload = \"not ready to execute\";\n} else if (ip == dns) {\n    msg.payload = \"dns record valid - nothing to do\";\n    msg.topic = false;\n} else {\n    msg.payload = \"need to update dns record\";\n    msg.topic = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":823,"y":588,"wires":[["1987070a.b6b399"]]},{"id":"22a7f66a.8b983a","type":"debug","z":"e01f4235.6b09b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":527,"y":538,"wires":[]},{"id":"d0fed36b.5647c","type":"debug","z":"e01f4235.6b09b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":534,"y":594,"wires":[]},{"id":"5e85c3cf.b69c0c","type":"debug","z":"e01f4235.6b09b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":895,"y":741,"wires":[]},{"id":"32077d6e.1fad72","type":"debug","z":"e01f4235.6b09b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":736,"y":273,"wires":[]},{"id":"b53d798a.75b3c8","type":"change","z":"e01f4235.6b09b","name":"","rules":[{"t":"set","p":"dns","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":204,"wires":[[]]},{"id":"f27b5101.fb806","type":"ui_switch","z":"ad7646e2.e0b638","name":"","label":"","tooltip":"switch control","group":"386605b8.09767a","order":0,"width":"2","height":"2","passthru":false,"decouple":"false","topic":"zwave/switch/1","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":423,"y":193,"wires":[["c6a9dc4f.a9c29","9d3d5f00.108b5","e77e0120.c4eb5"]]},{"id":"e77e0120.c4eb5","type":"function","z":"ad7646e2.e0b638","name":"","func":"if (msg.payload === true){\n    msg.topic = \"switchOn\"\n}\nif (msg.payload === false){\n    msg.topic = \"switchOff\"\n}\n\nmsg.payload = {\"nodeid\":4}\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":463,"wires":[["8689aa2a.ad6878","a78506f6.0a3e58"]]},{"id":"c6a9dc4f.a9c29","type":"mqtt out","z":"ad7646e2.e0b638","name":"","topic":"","qos":"","retain":"","broker":"860be39e.2af1c","x":597,"y":149,"wires":[]},{"id":"a78506f6.0a3e58","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":771,"y":430,"wires":[]},{"id":"9d3d5f00.108b5","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":296,"wires":[]},{"id":"594ed9e.88b3128","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":343,"y":812,"wires":[]},{"id":"f8c55397.7f155","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":165,"y":192,"wires":[]},{"id":"8da8e0ef.f7773","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":254,"y":331,"wires":[]},{"id":"33126298.05f88e","type":"mqtt out","z":"ad7646e2.e0b638","name":"","topic":"","qos":"","retain":"","broker":"860be39e.2af1c","x":261,"y":376,"wires":[]},{"id":"f042de8c.ae56f","type":"wifiscan","z":"bddc844e.af6be8","name":"","x":526,"y":441,"wires":[["dd866323.32ee6"]]},{"id":"dd866323.32ee6","type":"debug","z":"bddc844e.af6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":713,"y":436,"wires":[]},{"id":"e0d9195d.d39f28","type":"inject","z":"bddc844e.af6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":262,"y":440,"wires":[["f042de8c.ae56f"]]},{"id":"e7e4372.8e028c8","type":"mqtt in","z":"104d9e9f.ef7a21","name":"","topic":"#","qos":"2","broker":"860be39e.2af1c","x":281,"y":497,"wires":[["e00a9ab3.e33dc8","9c529d0.5948e6"]]},{"id":"e00a9ab3.e33dc8","type":"debug","z":"104d9e9f.ef7a21","name":"MQTT # RAW","active":true,"console":"false","complete":"payload","x":891,"y":497,"wires":[]},{"id":"9c529d0.5948e6","type":"function","z":"104d9e9f.ef7a21","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":561,"y":557,"wires":[["14167d2.1bff283","795456e4.26e518"]]},{"id":"14167d2.1bff283","type":"debug","z":"104d9e9f.ef7a21","name":"mqtt array","active":true,"console":"false","complete":"payload","x":881,"y":577,"wires":[]},{"id":"795456e4.26e518","type":"ui_template","z":"104d9e9f.ef7a21","group":"c19dafe8.9c163","name":"MQTT Output","order":1,"width":"18","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":891,"y":537,"wires":[[]]},{"id":"3305f296.eef96e","type":"mqtt out","z":"104d9e9f.ef7a21","name":"","topic":"","qos":"","retain":"","broker":"860be39e.2af1c","x":901,"y":677,"wires":[]},{"id":"7c03c86d.288ea8","type":"ui_text_input","z":"104d9e9f.ef7a21","name":"Message","label":"Message","tooltip":"","group":"c19dafe8.9c163","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":291,"y":617,"wires":[["bcbdca5c.12c5f8"]]},{"id":"ed598b44.d1d2b8","type":"ui_button","z":"104d9e9f.ef7a21","name":"Submit","group":"c19dafe8.9c163","order":4,"width":"6","height":"1","passthru":false,"label":"SUBMIT","tooltip":"","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":281,"y":657,"wires":[["bcbdca5c.12c5f8"]]},{"id":"bcbdca5c.12c5f8","type":"function","z":"104d9e9f.ef7a21","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":561,"y":637,"wires":[["3305f296.eef96e","bbd377d4.b268a8"]]},{"id":"bbd377d4.b268a8","type":"debug","z":"104d9e9f.ef7a21","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":871,"y":637,"wires":[]},{"id":"49a10a9e.55c804","type":"ui_text_input","z":"104d9e9f.ef7a21","name":"Topic","label":"Topic/","tooltip":"","group":"c19dafe8.9c163","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":281,"y":577,"wires":[["bcbdca5c.12c5f8"]]},{"id":"774a970a.f9dc38","type":"ui_button","z":"104d9e9f.ef7a21","name":"Clear","group":"c19dafe8.9c163","order":4,"width":"6","height":"1","passthru":false,"label":"CLEAR","tooltip":"","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":125,"y":605,"wires":[["49a10a9e.55c804","7c03c86d.288ea8","5bed49b.90a0eb8"]]},{"id":"3fbf4803.69d6a8","type":"comment","z":"104d9e9f.ef7a21","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":311,"y":457,"wires":[]},{"id":"5bed49b.90a0eb8","type":"debug","z":"104d9e9f.ef7a21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":726,"wires":[]},{"id":"b33e32b1.92348","type":"function","z":"cfcf0bda.11d328","name":"Parse icon","func":"msg.payload = (msg.payload.weather);\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1113,"y":559,"wires":[["a8e4b611.f99be8"]]},{"id":"a8e4b611.f99be8","type":"ui_template","z":"cfcf0bda.11d328","group":"21a4a119.b6940e","name":"","order":0,"width":"3","height":"3","format":"<link rel=\"stylesheet\" href=\"/weather-icon/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-darksky-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1275,"y":559,"wires":[[]]},{"id":"bee63f4a.ba861","type":"darksky in","z":"cfcf0bda.11d328","darksky":"635dd72d.91c0e8","name":"","key":"","lon":"-75.93025","lat":"45.17084","date":"","time":"","lang":"en","units":"ca","x":899,"y":559,"wires":[["b33e32b1.92348","40906ead.e5494","85984af8.573028"]]},{"id":"40906ead.e5494","type":"debug","z":"cfcf0bda.11d328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1073,"y":455,"wires":[]},{"id":"85984af8.573028","type":"ui_template","z":"cfcf0bda.11d328","group":"9fafbc11.89003","name":"","order":3,"width":"12","height":"4","format":"<div>\n    <p>{{msg.payload}}</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1191,"y":808,"wires":[[]]},{"id":"93fef8ae.597da8","type":"switch","z":"cfcf0bda.11d328","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1312,"y":691,"wires":[[]]},{"id":"bf497871.ac02c8","type":"inject","z":"bddc844e.af6be8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207,"y":578,"wires":[["f0b1fe60.a811d"]]},{"id":"f0b1fe60.a811d","type":"function","z":"bddc844e.af6be8","name":"","func":"var msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\nvar msg4 = { payload:\"only message from output 2\" };\nreturn [ [ msg1, msg2, msg3 ], msg4 ];\n","outputs":3,"noerr":0,"x":473,"y":573,"wires":[["97b6edb1.04e1d"],["8ce28dd8.3e78b"],["1a666603.49b16a"]]},{"id":"97b6edb1.04e1d","type":"debug","z":"bddc844e.af6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":715,"y":535,"wires":[]},{"id":"8ce28dd8.3e78b","type":"debug","z":"bddc844e.af6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":718,"y":595,"wires":[]},{"id":"1a666603.49b16a","type":"debug","z":"bddc844e.af6be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":709,"y":693,"wires":[]},{"id":"d196c66a.79cd08","type":"json","z":"cfcf0bda.11d328","name":"","property":"payload","action":"","pretty":false,"x":437,"y":481,"wires":[["2429201b.2985f"]]}]