flow.json
[{"id":"cfcf0bda.11d328","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"ad7646e2.e0b638","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"f846eb7.5c00618","type":"tab","label":"Lights2","disabled":false,"info":""},{"id":"41b61283.3c66bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44298b35.8d7074","type":"ui_group","z":"","name":"Wall Switch","tab":"5daaeb30.d403d4","order":1,"disp":true,"width":"6","collapse":true},{"id":"5daaeb30.d403d4","type":"ui_tab","z":"","name":"Lights","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"635dd72d.91c0e8","type":"darksky-credentials","z":"","key_identifier":"DarkSky"},{"id":"ac3d130c.55264","type":"ui_group","z":"","name":"DarkSky - Tommorrow","tab":"ddc81e89.4aa4b","order":3,"disp":true,"width":"6","collapse":false},{"id":"3561774d.19c258","type":"ui_group","z":"","name":"OpenWeather Map","tab":"ddc81e89.4aa4b","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddc81e89.4aa4b","type":"ui_tab","z":"","name":"Weather","icon":"wi-wu-sunny","order":5,"disabled":false,"hidden":false},{"id":"f01b1ec9.c35bf","type":"ui_group","z":"","name":"Environment Canada","tab":"ddc81e89.4aa4b","order":1,"disp":true,"width":"6","collapse":false},{"id":"35c42763.98b268","type":"zwave-controller","z":"ad7646e2.e0b638","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"logging":"minimal"},{"id":"386605b8.09767a","type":"ui_group","z":"","name":"Lights","tab":"5daaeb30.d403d4","disp":true,"width":"6","collapse":true},{"id":"ad130b0a.c4e698","type":"ui_tab","z":"","name":"PatioLights","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"eea15960.b753f8","type":"ui_group","z":"","name":"Back Lights","tab":"ad130b0a.c4e698","order":1,"disp":true,"width":"6","collapse":false},{"id":"e532d965.990798","type":"zwave-controller","z":"","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"networkkey":"","logging":true},{"id":"d719f14a.bf8ba","type":"debug","z":"cfcf0bda.11d328","name":"weather","active":true,"console":"false","complete":"true","x":257,"y":32,"wires":[]},{"id":"76b14e89.69745","type":"openweathermap in","z":"cfcf0bda.11d328","name":"Home","wtype":"current","lon":"-75.93025","lat":"45.17084","city":"","country":"","language":"en","x":88,"y":116,"wires":[["d719f14a.bf8ba"]]},{"id":"45698ede.3d32","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":true,"complete":"true","x":193,"y":480,"wires":[]},{"id":"3058cb45.9fe614","type":"inject","z":"ad7646e2.e0b638","d":true,"name":"","topic":"","payload":"{\"topic\":\"addNode\",\"payload\":{\"prependHomeId\":true}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":79,"y":112,"wires":[["cb681029.a7498","8cd5a770.123bf8"]]},{"id":"d2268652.5a1ac8","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":4}","payloadType":"json","topic":"switchOn","x":173,"y":767,"wires":[["8689aa2a.ad6878","594ed9e.88b3128"]]},{"id":"c8475454.aa8938","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":4}","payloadType":"json","topic":"switchOff","x":176,"y":588,"wires":[["8689aa2a.ad6878"]]},{"id":"38073c45.95bf44","type":"ui_toast","z":"ad7646e2.e0b638","d":true,"position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":365,"y":417,"wires":[]},{"id":"79357313.7190dc","type":"ui_gauge","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":3,"width":0,"height":0,"gtype":"gage","title":"Status","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":290,"y":274,"wires":[]},{"id":"3e4ff5c6.4edd5a","type":"function","z":"ad7646e2.e0b638","name":"","func":"var msg2 = {\"payload\": 5};\nif (msg.payload.nodeid == 4) {\n    if (msg.payload.currState === true){\n        msg2.payload = 1;\n        msg.payload = true;\n    } else {\n        msg2.payload = 0;\n        msg.payload = false;\n    }\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":103,"y":270,"wires":[["f8c55397.7f155","f27b5101.fb806"],["8da8e0ef.f7773","79357313.7190dc"]],"inputLabels":["zwave"],"outputLabels":["bool","number"]},{"id":"6a352a07.8e7e64","type":"inject","z":"ad7646e2.e0b638","name":"","topic":"disablePoll","payload":"{\"args\":[4,37,1,0]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":157,"y":20,"wires":[["43c4db3a.541ff4"]]},{"id":"c2155055.b6869","type":"openweathermap","z":"cfcf0bda.11d328","name":"Ottawa weather","wtype":"current","lon":"-75.93025","lat":"45.17084","city":"","country":"","language":"en","x":327,"y":385,"wires":[["6491d281.b0f18c","97f6d3cc.a8ed","d196c66a.79cd08"]]},{"id":"19f0900d.41b18","type":"darksky","z":"cfcf0bda.11d328","darksky":"635dd72d.91c0e8","name":"ottawa weather","lon":"-75.826900","lat":"45.327901","date":"","time":"","mode":"node","lang":"en","units":"ca","x":324,"y":583,"wires":[["b3edd2d0.98e0a","d196c66a.79cd08","c3ee6791.f73548"]]},{"id":"c23b4833.fb8fe8","type":"inject","z":"cfcf0bda.11d328","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":134,"y":503,"wires":[["19f0900d.41b18","c2155055.b6869"]]},{"id":"b3edd2d0.98e0a","type":"ui_template","z":"cfcf0bda.11d328","group":"ac3d130c.55264","name":"Weather-DarkSky-detail","order":2,"width":"6","height":"5","format":"<div>\n  <div style=\"font-size:48px;\">\n      <i class=\"wi wi-darksky-{{msg.payload.weather}}\"></i>\n  </div>\n  <ul>\n    <li>Time: {{msg.time}}</li>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":694,"y":583,"wires":[[]]},{"id":"97f6d3cc.a8ed","type":"debug","z":"cfcf0bda.11d328","name":"Weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":776,"y":394,"wires":[]},{"id":"6491d281.b0f18c","type":"ui_template","z":"cfcf0bda.11d328","group":"3561774d.19c258","name":"Weather-OpeWeatherMap-details","order":1,"width":"6","height":"6","format":"<div>\n    <div style=\"flex; height=100%; font-size:48px; justify-content:center; align-items:center;\">\n        <i class=\"wi wi-owm-{{msg.payload.icon}}\"></i>    \n    </div>\n  <ul>\n    <li>Location: {{msg.payload.location}}</li>  \n    <li>Time: {{msg.time}}</li>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Description: {{msg.payload.description}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Temp: {{msg.payload.tempc}}</li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>  \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":744,"y":343,"wires":[[]]},{"id":"7f874b1a.40e0a4","type":"function","z":"cfcf0bda.11d328","name":"Parse icon","func":"msg.payload = (msg.payload.weather);\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":763,"wires":[[]]},{"id":"b1085b69.ac3568","type":"http in","z":"cfcf0bda.11d328","name":"","url":"/radar","method":"get","upload":false,"swaggerDoc":"","x":696,"y":134,"wires":[["c621e220.7c828"]]},{"id":"c621e220.7c828","type":"template","z":"cfcf0bda.11d328","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <script src='https://darksky.net/map-embed/@radar,2019-2-7,16,45.421,-75.690,7.js?embed=true&timeControl=false&fieldControl=false&defaultField=radar'></script>\n    </body>\n</html>","x":826,"y":134,"wires":[["83538c29.a4c3c"]]},{"id":"83538c29.a4c3c","type":"http response","z":"cfcf0bda.11d328","name":"","statusCode":"","headers":{},"x":966,"y":134,"wires":[]},{"id":"670c4d4c.f2f294","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-52&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1048,"y":215,"wires":[[]]},{"id":"eeab6771.4aef38","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada - Westport","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-66&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1065,"y":263,"wires":[[]]},{"id":"d6f99440.0b1de8","type":"zwave-in","z":"ad7646e2.e0b638","name":"","controller":"35c42763.98b268","x":55,"y":439,"wires":[["45698ede.3d32","3e4ff5c6.4edd5a","38073c45.95bf44","bf9186c7.38b868"]]},{"id":"8689aa2a.ad6878","type":"zwave-out","z":"ad7646e2.e0b638","name":"Toggle Switch","controller":"35c42763.98b268","x":664,"y":700,"wires":[[]]},{"id":"cb681029.a7498","type":"zwave-out","z":"ad7646e2.e0b638","d":true,"name":"Poll","controller":"35c42763.98b268","x":370,"y":123,"wires":[["f8c55397.7f155"]]},{"id":"43c4db3a.541ff4","type":"zwave-out","z":"ad7646e2.e0b638","d":true,"name":"","controller":"35c42763.98b268","x":440,"y":42,"wires":[[]]},{"id":"f27b5101.fb806","type":"ui_switch","z":"ad7646e2.e0b638","name":"","label":"Switch","tooltip":"switch control","group":"386605b8.09767a","order":0,"width":"2","height":"2","passthru":false,"decouple":"false","topic":"zwave/switch/1","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":423,"y":193,"wires":[["9d3d5f00.108b5","e77e0120.c4eb5"]]},{"id":"e77e0120.c4eb5","type":"function","z":"ad7646e2.e0b638","name":"","func":"if (msg.payload === true){\n    msg.topic = \"switchOn\"\n}\nif (msg.payload === false){\n    msg.topic = \"switchOff\"\n}\n\nmsg.payload = {\"nodeid\":4}\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":463,"wires":[["8689aa2a.ad6878","a78506f6.0a3e58"]]},{"id":"a78506f6.0a3e58","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":771,"y":430,"wires":[]},{"id":"9d3d5f00.108b5","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":296,"wires":[]},{"id":"594ed9e.88b3128","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":343,"y":812,"wires":[]},{"id":"f8c55397.7f155","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":165,"y":192,"wires":[]},{"id":"8da8e0ef.f7773","type":"debug","z":"ad7646e2.e0b638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":254,"y":331,"wires":[]},{"id":"d196c66a.79cd08","type":"json","z":"cfcf0bda.11d328","name":"","property":"payload","action":"","pretty":false,"x":437,"y":481,"wires":[[]]},{"id":"328ad311.34801c","type":"ui_switch","z":"ad7646e2.e0b638","name":"","label":"Back Lights","tooltip":"switch control","group":"386605b8.09767a","order":0,"width":"2","height":"2","passthru":false,"decouple":"false","topic":"zwave/switch/2","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":305,"y":685,"wires":[["e77e0120.c4eb5"]]},{"id":"bf9186c7.38b868","type":"function","z":"ad7646e2.e0b638","name":"","func":"var msg2 = {\"payload\": 5};\nif (msg.payload.nodeid == 4) {\n    if (msg.payload.currState === true){\n        msg2.payload = 1;\n        msg.payload = true;\n    } else {\n        msg2.payload = 0;\n        msg.payload = false;\n    }\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":85,"y":682,"wires":[["328ad311.34801c"],[]],"inputLabels":["zwave"],"outputLabels":["bool","number"]},{"id":"989ae91b.faa368","type":"ui_switch","z":"f846eb7.5c00618","name":"","label":"Back Lights","tooltip":"switch control","group":"eea15960.b753f8","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"zwave/switch/1","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":305,"y":332,"wires":[["842b12b2.7c4ef","a2c59741.961058"]]},{"id":"6bc5c843.66c3a8","type":"function","z":"f846eb7.5c00618","name":"","func":"var msg2 = {\"payload\": 5};\nif (msg.payload.nodeid == 5) {\n    if (msg.payload.currState === true){\n        msg2.payload = 1;\n        msg.payload = true;\n    } else {\n        msg2.payload = 0;\n        msg.payload = false;\n    }\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":304,"y":203,"wires":[["989ae91b.faa368","b732f53e.7d5088"],["b56b0982.905fe8"]],"inputLabels":["zwave"],"outputLabels":["bool","number"]},{"id":"4a6d0173.1a463","type":"zwave-in","z":"f846eb7.5c00618","name":"","controller":"e532d965.990798","x":138,"y":95,"wires":[["6bc5c843.66c3a8","922432a2.73007"]]},{"id":"842b12b2.7c4ef","type":"function","z":"f846eb7.5c00618","name":"","func":"if (msg.payload === true){\n    msg.topic = \"switchOn\"\n}\nif (msg.payload === false){\n    msg.topic = \"switchOff\"\n}\n\nmsg.payload = {\"nodeid\":5}\nreturn msg;","outputs":1,"noerr":0,"x":554,"y":225,"wires":[["aa35f5ab.ce24e8","786410c2.230c9"]]},{"id":"aa35f5ab.ce24e8","type":"zwave-out","z":"f846eb7.5c00618","name":"Toggle Switch","controller":"e532d965.990798","x":619,"y":462,"wires":[["cdf6c6df.2bed88"]]},{"id":"922432a2.73007","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":691,"y":47,"wires":[]},{"id":"8cd5a770.123bf8","type":"debug","z":"ad7646e2.e0b638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":90,"wires":[]},{"id":"66c56c5a.e74de4","type":"inject","z":"ad7646e2.e0b638","name":"","topic":"disablePoll","payload":"{\"args\":[5,37,1,0]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163.5,"y":43,"wires":[["43c4db3a.541ff4"]]},{"id":"b732f53e.7d5088","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":496.5,"y":107,"wires":[]},{"id":"b56b0982.905fe8","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":492.5,"y":171,"wires":[]},{"id":"a2c59741.961058","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":407.5,"y":425,"wires":[]},{"id":"786410c2.230c9","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":744.5,"y":206,"wires":[]},{"id":"cdf6c6df.2bed88","type":"debug","z":"f846eb7.5c00618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":784.5,"y":399,"wires":[]},{"id":"c3ee6791.f73548","type":"debug","z":"cfcf0bda.11d328","name":"Dark Sky Weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":765.5,"y":505,"wires":[]}]