flow.json
[{"id":"cfcf0bda.11d328","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"ad7646e2.e0b638","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a02f08d3.ba2c78","type":"tab","label":"Zwave","disabled":true,"info":""},{"id":"6d71f5f1.e6425c","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"3d32cd7e.47fdd2","type":"tab","label":"camera","disabled":false,"info":""},{"id":"41b61283.3c66bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44298b35.8d7074","type":"ui_group","z":"","name":"Wall Switch","tab":"5daaeb30.d403d4","order":1,"disp":true,"width":"6","collapse":true},{"id":"5daaeb30.d403d4","type":"ui_tab","z":"","name":"Lights","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"635dd72d.91c0e8","type":"darksky-credentials","z":"","key_identifier":""},{"id":"ac3d130c.55264","type":"ui_group","z":"","name":"DarkSky - Tommorrow","tab":"ddc81e89.4aa4b","order":3,"disp":true,"width":"6","collapse":false},{"id":"3561774d.19c258","type":"ui_group","z":"","name":"OpenWeather Map","tab":"ddc81e89.4aa4b","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddc81e89.4aa4b","type":"ui_tab","z":"","name":"Weather","icon":"wi-wu-sunny","order":3,"disabled":false,"hidden":false},{"id":"f01b1ec9.c35bf","type":"ui_group","z":"","name":"Environment Canada","tab":"ddc81e89.4aa4b","order":1,"disp":true,"width":"6","collapse":false},{"id":"386605b8.09767a","type":"ui_group","z":"","name":"Lights","tab":"5daaeb30.d403d4","disp":true,"width":"6","collapse":true},{"id":"ad130b0a.c4e698","type":"ui_tab","z":"","name":"PatioLights","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"eea15960.b753f8","type":"ui_group","z":"","name":"Back Lights","tab":"ad130b0a.c4e698","order":1,"disp":true,"width":"6","collapse":false},{"id":"e532d965.990798","type":"zwave-controller","z":"","port":"/dev/ttyACM0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"networkkey":"","logging":"full"},{"id":"27947665.ffe50a","type":"mqtt-broker","z":"","name":"pinode mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"hello","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f607ec5.8792c","type":"ui_tab","z":"","name":"Misc","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"3c708b73.143c34","type":"ui_group","z":"","name":"Group 1","tab":"7f607ec5.8792c","order":1,"disp":false,"width":"6","collapse":false},{"id":"de3a19eb.761038","type":"ui_tab","z":"","name":"NVR","icon":"dashboard","order":13},{"id":"e93ef266.0d65","type":"ui_tab","z":"","name":"Configurazione","icon":"dashboard"},{"id":"6906f8ce.3b51b8","type":"ui_group","z":"","name":"Camera","tab":"de3a19eb.761038","order":1,"disp":true,"width":"7","collapse":false},{"id":"d2268652.5a1ac8","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":6,\"cmdclass\":3,\"cmdidx\":0,\"instance\":0,\"value\":1}","payloadType":"json","topic":"switchOn","x":1150,"y":200,"wires":[["8689aa2a.ad6878"]]},{"id":"c8475454.aa8938","type":"ui_button","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"nodeid\":6}","payloadType":"json","topic":"switchOff","x":1130,"y":160,"wires":[["8689aa2a.ad6878"]]},{"id":"38073c45.95bf44","type":"ui_toast","z":"ad7646e2.e0b638","d":true,"position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":430,"y":240,"wires":[]},{"id":"79357313.7190dc","type":"ui_gauge","z":"ad7646e2.e0b638","name":"","group":"44298b35.8d7074","order":3,"width":0,"height":0,"gtype":"gage","title":"Status","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1330,"y":380,"wires":[]},{"id":"c2155055.b6869","type":"openweathermap","z":"cfcf0bda.11d328","name":"Ottawa weather","wtype":"current","lon":"-75.93025","lat":"45.17084","city":"","country":"","language":"en","x":320,"y":97,"wires":[["6491d281.b0f18c","d196c66a.79cd08","c831ca54.292b08"]]},{"id":"19f0900d.41b18","type":"darksky","z":"cfcf0bda.11d328","darksky":"635dd72d.91c0e8","name":"ottawa weather","lon":"-75.826900","lat":"45.327901","date":"","time":"","mode":"node","lang":"en","units":"ca","x":317,"y":295,"wires":[["b3edd2d0.98e0a","d196c66a.79cd08","29bdfa5e.0f5c96"]]},{"id":"c23b4833.fb8fe8","type":"inject","z":"cfcf0bda.11d328","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":215,"wires":[["19f0900d.41b18","c2155055.b6869"]]},{"id":"b3edd2d0.98e0a","type":"ui_template","z":"cfcf0bda.11d328","group":"ac3d130c.55264","name":"Weather-DarkSky-detail","order":2,"width":"6","height":"5","format":"<div>\n  <div style=\"font-size:48px;\">\n      <i class=\"wi wi-darksky-{{msg.payload.weather}}\"></i>\n  </div>\n  <ul>\n    <li>Time: {{msg.time}}</li>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":976,"y":368,"wires":[[]]},{"id":"97f6d3cc.a8ed","type":"debug","z":"cfcf0bda.11d328","name":"Weather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":946,"y":96,"wires":[]},{"id":"6491d281.b0f18c","type":"ui_template","z":"cfcf0bda.11d328","group":"3561774d.19c258","name":"Weather-OpeWeatherMap-details","order":1,"width":"0","height":"0","format":"<div>\n    <div style=\"flex; height=100%; font-size:48px; justify-content:center; align-items:center;\">\n        <i class=\"wi wi-owm-{{msg.payload.icon}}\"></i>    \n    </div>\n  <ul>\n    <li>Location: {{msg.payload.location}}</li>  \n    <li>Time: {{msg.time}}</li>\n    <li>Weather: {{msg.payload.weather}} </li>\n    <li>Description: {{msg.payload.description}} </li>\n    <li>Detail: {{msg.payload.detail}} </li>\n    <li>Temp: {{msg.payload.tempc}}</li>\n    <li>Humidity: {{msg.payload.humidity}} </li>\n    <li>Windspeed: {{msg.payload.windspeed}} </li>\n    <li>Winddirection: {{msg.payload.winddirection}} </li>\n    <li>Clouds: {{msg.payload.clouds }} </li>\n\n  </ul>\n</div>  \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":938,"y":33,"wires":[[]]},{"id":"b1085b69.ac3568","type":"http in","z":"cfcf0bda.11d328","name":"","url":"/radar","method":"get","upload":false,"swaggerDoc":"","x":634,"y":455,"wires":[["c621e220.7c828"]]},{"id":"c621e220.7c828","type":"template","z":"cfcf0bda.11d328","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <script src='https://darksky.net/map-embed/@radar,2019-2-7,16,45.421,-75.690,7.js?embed=true&timeControl=false&fieldControl=false&defaultField=radar'></script>\n    </body>\n</html>","x":764,"y":455,"wires":[["83538c29.a4c3c"]]},{"id":"83538c29.a4c3c","type":"http response","z":"cfcf0bda.11d328","name":"","statusCode":"","headers":{},"x":904,"y":455,"wires":[]},{"id":"670c4d4c.f2f294","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-52&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":236,"y":392,"wires":[[]]},{"id":"eeab6771.4aef38","type":"ui_template","z":"cfcf0bda.11d328","group":"f01b1ec9.c35bf","name":"Environment Canada - Westport","order":0,"width":0,"height":0,"format":"<div>\n    <!-- Begin WeatherLink Fragment -->\n<iframe title=\"Environment Canada Weather\" \n    width=\"287px\" height=\"191px\" \n    src=\"//weather.gc.ca/wxlink/wxlink.html?cityCode=on-66&amp;\n    lang=e\" allowtransparency=\"true\" frameborder=\"0\">\n</iframe>\n<!-- End WeatherLink Fragment -->\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":249,"y":443,"wires":[[]]},{"id":"d6f99440.0b1de8","type":"zwave-in","z":"ad7646e2.e0b638","name":"","controller":"e532d965.990798","x":90,"y":160,"wires":[["38073c45.95bf44","b0aa99b4.b23b58","425f3e6f.9bcd8","bf9186c7.38b868","5b71825a.5a103c"]]},{"id":"8689aa2a.ad6878","type":"zwave-out","z":"ad7646e2.e0b638","name":"Toggle Switch","controller":"e532d965.990798","x":1420,"y":140,"wires":[[]]},{"id":"f27b5101.fb806","type":"ui_switch","z":"ad7646e2.e0b638","name":"","label":"Switch","tooltip":"switch control","group":"386605b8.09767a","order":0,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"zwave/switch/1","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":930,"y":200,"wires":[["2e9ba61.380635a"]]},{"id":"e77e0120.c4eb5","type":"function","z":"ad7646e2.e0b638","name":"","func":"if (msg.payload === true){\n    msg.topic = \"switchOn\"\n}\nif (msg.payload === false){\n    msg.topic = \"switchOff\"\n}\n\nmsg.payload = {\"nodeid\":5}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":100,"wires":[["8689aa2a.ad6878"]]},{"id":"d196c66a.79cd08","type":"json","z":"cfcf0bda.11d328","name":"","property":"payload","action":"","pretty":false,"x":439,"y":184,"wires":[["3bf5066c.c93b7a"]]},{"id":"bf9186c7.38b868","type":"function","z":"ad7646e2.e0b638","d":true,"name":"","func":"var msg2 = msg;\nif (msg.payload.nodeid == 5 && msg.payload.cmdidx === 0) {\n    if (msg.payload.currState === true){\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n    return [msg, null, null]\n}\nif (msg.payload.nodeid == 6 && msg.payload.cmdidx === 0) {\n    if (msg.payload.currState === true){\n        msg.payload = true;\n        msg2.payload = 1;\n    } else {\n        msg.payload = false;\n        msg2.payload = 0;\n    }\n    return [null, msg, msg2]\n}\n\n","outputs":3,"noerr":0,"x":230,"y":400,"wires":[["63317022.66cc6"],["a5d799eb.d34b58"],[]],"inputLabels":["zwave"],"outputLabels":["bool","",""]},{"id":"c3ee6791.f73548","type":"debug","z":"cfcf0bda.11d328","name":"Dark Sky Weather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":948.5,"y":229,"wires":[]},{"id":"95b37802.2e0108","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":331.5,"y":163,"wires":[["83362ebe.f275a"]]},{"id":"83362ebe.f275a","type":"function","z":"a02f08d3.ba2c78","name":"set zwave message","func":"msg.topic = \"getNodeStatistics\";\nmsg.payload = {\"args\": [5]};\nreturn msg;","outputs":1,"noerr":0,"x":547.5,"y":58,"wires":[["53bdd792.808598","f6c12f07.0f0ab"]]},{"id":"53bdd792.808598","type":"zwave-out","z":"a02f08d3.ba2c78","name":"send message","controller":"e532d965.990798","x":634.75,"y":187.25,"wires":[["f6c12f07.0f0ab"]]},{"id":"f6c12f07.0f0ab","type":"debug","z":"a02f08d3.ba2c78","name":"sent message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":965.5,"y":197,"wires":[]},{"id":"4bc17102.fc97","type":"zwave-in","z":"a02f08d3.ba2c78","name":"receive","controller":"e532d965.990798","x":410.5,"y":570,"wires":[["530916f3.977ae8"]]},{"id":"530916f3.977ae8","type":"debug","z":"a02f08d3.ba2c78","name":"zwave data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":706.5,"y":637,"wires":[]},{"id":"a1dc4deb.fe65e","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"switchOff","payload":"{\"nodeid\":6,\"cmdclass\":3,\"cmdidx\":0,\"instance\":0,\"value\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":216.5,"y":251,"wires":[["53bdd792.808598","f6c12f07.0f0ab"]]},{"id":"1ff834bd.42452b","type":"inject","z":"a02f08d3.ba2c78","name":"requestAllConfigParams","topic":"requestAllConfigParams","payload":"{\"args\":[4]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":318.5,"y":335,"wires":[["53bdd792.808598","f6c12f07.0f0ab"]]},{"id":"f4ecdaa8.7feb78","type":"inject","z":"a02f08d3.ba2c78","name":"setNodeName","topic":"setNodeName","payload":"{\"args\":[4,\"Outlet Switch\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":266.5,"y":407,"wires":[["f6c12f07.0f0ab","53bdd792.808598"]]},{"id":"c3812a97.ab10e8","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"softReset","payload":"{\"prependHomeId\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":313.5,"y":467,"wires":[["53bdd792.808598","f6c12f07.0f0ab"]]},{"id":"3b92bb33.b892a4","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"healNetwork","payload":"{\"prependHomeId\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":316.5,"y":86,"wires":[["53bdd792.808598","f6c12f07.0f0ab"]]},{"id":"7774dce8.a90ea4","type":"mqtt out","z":"cfcf0bda.11d328","name":"","topic":"","qos":"","retain":"","broker":"27947665.ffe50a","x":878.5,"y":155,"wires":[]},{"id":"c831ca54.292b08","type":"change","z":"cfcf0bda.11d328","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":745.5,"y":97,"wires":[["97f6d3cc.a8ed","7774dce8.a90ea4"]]},{"id":"29bdfa5e.0f5c96","type":"change","z":"cfcf0bda.11d328","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"darksky weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":241,"wires":[["7774dce8.a90ea4","c3ee6791.f73548"]]},{"id":"3bf5066c.c93b7a","type":"debug","z":"cfcf0bda.11d328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590.5,"y":183,"wires":[]},{"id":"b0aa99b4.b23b58","type":"mqtt out","z":"ad7646e2.e0b638","name":"","topic":"","qos":"","retain":"","broker":"27947665.ffe50a","x":290,"y":20,"wires":[]},{"id":"d564c3cb.2a569","type":"inject","z":"a02f08d3.ba2c78","name":"refresh Node Info","topic":"refreshNodeInfo","payload":"{\"args\": [5]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":232.5,"y":199,"wires":[["53bdd792.808598"]]},{"id":"50b4c19e.aeb47","type":"ui_text_input","z":"a02f08d3.ba2c78","name":"","label":"Command","tooltip":"","group":"3c708b73.143c34","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":99.5,"y":560,"wires":[["5508f20f.87097c"]]},{"id":"4d97bef7.7876a","type":"join","z":"a02f08d3.ba2c78","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":359.5,"y":520,"wires":[["a942c379.1dc86"]]},{"id":"1a5da929.107357","type":"ui_text_input","z":"a02f08d3.ba2c78","name":"","label":"Args","tooltip":"","group":"3c708b73.143c34","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":113.5,"y":726,"wires":[["a942c379.1dc86"]]},{"id":"a942c379.1dc86","type":"debug","z":"a02f08d3.ba2c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":538.5,"y":537,"wires":[]},{"id":"9e4b0ff7.707a2","type":"switch","z":"a02f08d3.ba2c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":576.5,"y":749,"wires":[[]]},{"id":"5508f20f.87097c","type":"change","z":"a02f08d3.ba2c78","name":"command to topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340.5,"y":625,"wires":[["1a5da929.107357"]]},{"id":"d49aafc5.9669b","type":"mqtt in","z":"6d71f5f1.e6425c","name":"ALL","topic":"#","qos":"2","datatype":"auto","broker":"27947665.ffe50a","x":420,"y":140,"wires":[["91948aef.b7de38"]]},{"id":"91948aef.b7de38","type":"debug","z":"6d71f5f1.e6425c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":140,"wires":[]},{"id":"a8c2dae9.5cacf8","type":"inject","z":"a02f08d3.ba2c78","name":"add Node","topic":"addNode","payload":"{\"prependHomeId\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":900,"y":480,"wires":[[]]},{"id":"c6e540ed.2deb8","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"disablePoll","payload":"{\"args\":[5,37,1,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":962.5,"y":441,"wires":[["7da1dca3.45e714"]]},{"id":"c52c1356.5250d","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"disablePoll","payload":"{\"args\":[4,37,1,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":968,"y":388,"wires":[["7da1dca3.45e714"]]},{"id":"e9ec1dd4.60b35","type":"inject","z":"a02f08d3.ba2c78","name":"","topic":"switchOff","payload":"{\"nodeid\":6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":968,"y":328,"wires":[[]]},{"id":"7da1dca3.45e714","type":"zwave-out","z":"a02f08d3.ba2c78","name":"","controller":"e532d965.990798","x":1251,"y":410,"wires":[[]]},{"id":"7835494f.790e78","type":"comment","z":"ad7646e2.e0b638","name":"Patio Lights","info":"# NodeId = 5\n## ","x":950,"y":40,"wires":[]},{"id":"2e9ba61.380635a","type":"function","z":"ad7646e2.e0b638","name":"","func":"if (msg.payload === true){\n    msg.topic = \"switchOn\"\n}\nif (msg.payload === false){\n    msg.topic = \"switchOff\"\n}\n\nmsg.payload = {\"nodeid\":6}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":260,"wires":[["8689aa2a.ad6878"]]},{"id":"cc5ffb9d.fb0428","type":"ui_switch","z":"ad7646e2.e0b638","name":"[Patio] Back Lights","label":"Back Lights","tooltip":"switch control","group":"eea15960.b753f8","order":1,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"zwave/switch/1","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-5x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-4x","offcolor":"grey","x":950,"y":100,"wires":[["e77e0120.c4eb5"]]},{"id":"a01a6496.efb1b8","type":"comment","z":"ad7646e2.e0b638","name":"Switch: NodeId 6","info":"","x":940,"y":160,"wires":[]},{"id":"425f3e6f.9bcd8","type":"debug","z":"ad7646e2.e0b638","name":"zwave message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":80,"wires":[]},{"id":"a5d799eb.d34b58","type":"debug","z":"ad7646e2.e0b638","name":"msg2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":500,"wires":[]},{"id":"63317022.66cc6","type":"debug","z":"ad7646e2.e0b638","name":"one","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":460,"wires":[]},{"id":"80fd032f.32fc1","type":"debug","z":"ad7646e2.e0b638","name":"3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":560,"wires":[]},{"id":"f299ce81.fa4dc","type":"switch","z":"ad7646e2.e0b638","name":"NodeID","property":"payload.nodeid","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["fb336e07.5bcfa"],["d2f1f071.0673a"]]},{"id":"92a7eabb.480b48","type":"switch","z":"ad7646e2.e0b638","name":"check index","property":"payload.cmdidx","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["f299ce81.fa4dc"]]},{"id":"5b71825a.5a103c","type":"switch","z":"ad7646e2.e0b638","name":"value changed?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave: value changed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":160,"wires":[["92a7eabb.480b48"]]},{"id":"d2f1f071.0673a","type":"change","z":"ad7646e2.e0b638","name":"payload","rules":[{"t":"move","p":"payload.currState","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":200,"wires":[["f27b5101.fb806","1f12b791.426af8"]],"inputLabels":["currState"],"outputLabels":["value"]},{"id":"fb336e07.5bcfa","type":"change","z":"ad7646e2.e0b638","name":"payload","rules":[{"t":"move","p":"payload.currState","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":100,"wires":[["cc5ffb9d.fb0428"]],"inputLabels":["currState"],"outputLabels":["value"]},{"id":"95912f49.eb19b","type":"change","z":"ad7646e2.e0b638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":340,"wires":[["79357313.7190dc"]]},{"id":"6a2c95b1.f47fac","type":"change","z":"ad7646e2.e0b638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":420,"wires":[["79357313.7190dc"]]},{"id":"1f12b791.426af8","type":"switch","z":"ad7646e2.e0b638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":380,"wires":[["95912f49.eb19b"],["6a2c95b1.f47fac"]]},{"id":"b0dbefe8.f6e42","type":"ui_template","z":"3d32cd7e.47fdd2","group":"6906f8ce.3b51b8","name":"Front Door","order":1,"width":"7","height":"5","format":"<div>\n<img style=\"-webkit-user-select: none;margin: auto;\" src=\"http://192.168.86.238:8081/\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":120,"wires":[[]]},{"id":"1c3d668.9bcca9a","type":"ui_template","z":"3d32cd7e.47fdd2","group":"6906f8ce.3b51b8","name":"Front Yard","order":1,"width":"7","height":"5","format":"<div>\n<img style=\"-webkit-user-select: none;margin: auto;\" src=\"http://192.168.86.238:8082/\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":180,"wires":[[]]},{"id":"baa4b9ae.5b0288","type":"ui_template","z":"3d32cd7e.47fdd2","group":"6906f8ce.3b51b8","name":"Back Deck","order":1,"width":"7","height":"5","format":"<div>\n<img style=\"-webkit-user-select: none;margin: auto;\" src=\"http://192.168.86.238:8083/\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":240,"wires":[[]]}]